<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task 3</title>
</head>
<body>
<div>
    <h2>Работа со временем</h2>
    <ol>
        <li>создание пунктуальности (никода не будете никуда опазывать);</li>
        <li>излечение от пунктуальности (никода никуда не будете торопиться)</li>
        <li>изменение восприятия времени и часов</li>
    </ol>
</div>
<hr>
<div>
    <h2>Список изученных тегов</h2>
    <ul>
        <li>html</li>
        <li>head</li>
        <li>body</li>
        <li>p</li>
        <li>h1</li>
        <li>h2</li>
    </ul>
</div>
<hr>
<div>
    <h2>Расшифровка тегов</h2>
    <dl>
        <dt>dl</dt>
        <dd>Definition List, сам список определений</dd>
        <dt>dt</dt>
        <dd>Definition Term, термин</dd>
        <dt>dd</dt>
        <dd>Definition Definition, определение термина</dd>
        <dt>ul</dt>
        <dd>Unordered List, неупорядоченный список</dd>
        <dt>li</dt>
        <dd>List Item, элемент списка</dd>
    </dl>
</div>
<hr>
<div>
    <h2 style="text-align:center">Компьютерные сети</h2>
    <h3>Английские термины</h3>
    <dl>
        <dt>Internet</dt>
        <dd>Глобальная компьютерная сеть.</dd>
        <dt>internet</dt>
        <dd>технология сетевого взаимодействия между компьютерами разных типов.</dd>
        <dt>WALS (Wide Area Information Servers)</dt>
        <dd>мощная система поиска информации в базах данных сети Интернет по ключевым словам.</dd>
    </dl>
</div>
<hr>
<div>
    <h2>Список изученных тегов</h2>
    <ul>
        <li>html</li>
        <li>head</li>
        <li>body</li>
        <li>p</li>
        <li>h1</li>
        <li>h2</li>
    </ul>
    <h2>Какие бывают заголовки?</h2>
    <ol>
        <li>h1</li>
        <li>h2</li>
        <li>h3</li>
        <li>h4</li>
        <li>h5</li>
        <li>h6</li>
    </ol>
</div>
<hr>
<div>
    <ol>
        <li>Изучение
            <ol>
                <li>Основы HTML
                    <ol>
                        <li>HTML-теги
                            <ol>
                                <li>парные</li>
                                <li>одиночные</li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>Основы CSS
                    <ol>
                        <li>Селекторы
                            <ol>
                                <li>по типу</li>
                                <li>по классу</li>
                                <li>вложенные</li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    Стиль кодирования
                </li>
            </ol>
        </li>
        <li>Работа с фотошопом</li>
        <li>Построение сеток</li>
        <li>Декоративные элементы</li>
        <li>Введение в JavaScript</li>
        <li>Прогрессивное улучшение</li>
    </ol>
</div>
<hr>
<div>
    <h2 style="text-align:center">Великие ученые-математики</h2>
    <dl>
        <dt>Пьер Ферма (1601-1665)</dt>
        <dd>Французский математик, один из создателей аналитической геометрии и дифференциального исчисления. Открыл
            правило нахождения экстремума с помощью производной. Автор многих теорем теории чисел.
        </dd>
        <dt>Готфрид Вильгельм Лейбниц (1646-1716)</dt>
        <dd>Немецкий философ, логик, математик, механик, физик, юрист, историк, дипломат, изобретатель и языковед.
            Основатель и первый президент Берлинской Академии наук, член Лондонского королевского общества (1673),
            иностранный член Французской Академии наук.
        </dd>
    </dl>
</div>
<hr>
<div>
    <h2>Времена года и месяцы</h2>
    <ol type="1">
        <li>Зима
            <ol type="A">
                <li>Декабрь</li>
                <li>Январь</li>
                <li>Февраль</li>
            </ol>
        </li>
        <li>Весна
            <ol type="a">
                <li>Март</li>
                <li>Апрель</li>
                <li>Май</li>
            </ol>
        </li>
        <li>Лето
            <ol type="I">
                <li>Июнь</li>
                <li>Июль</li>
                <li>Август</li>
            </ol>
        </li>
        <li>Осень
            <ol type="i">
                <li>Сентябрь</li>
                <li>Октябрь</li>
                <li>Ноябрь</li>
            </ol>
        </li>
    </ol>
</div>
<hr>
<div>
    <h2>Города областей</h2>
    <ul type="circle">
        <li><u>Кургансой</u>
            <ol>
                <li>Шадринск</li>
                <li>Катайск</li>
                <li>Долматово</li>
            </ol>
        </li>
        <li><u>Свердловск</u>
            <ol>
                <li>Каменск-Уральский</li>
                <li>Верхняя Пышма</li>
            </ol>
        </li>
        <li><u>Челябинск</u>
            <ol>
                <li>Магнитогорск</li>
                <li>Златоуст</li>
            </ol>
        </li>
    </ul>
</div>
<hr>
<div>
    <ol type="a">
        <li>Производительность
            <ul type="disc">
                <li>Время реакции</li>
                <li>Скорость передачи данных
                    <ul type="circle">
                        <li>мгновенная скорость</li>
                        <li>средняя скорость</li>
                        <li>Максимальная скорость</li>
                    </ul>
                </li>
                <li>Задержка передачи</li>
            </ul>
        </li>
        <li>Надёжность и безопасность
            <ul>
                <li>Готовность</li>
                <li>безопасность</li>
                <li>Отказоуствойчивость</li>
            </ul>
        </li>
        <li>Расширяемость и масштабируемость</li>
        <li>Прозрачность</li>
        <li>Управляемость</li>
        <li>Совместимость</li>
        <li>Качество обслуживанияы</li>
    </ol>
</div>
<hr>
<div>
    <h1>Списки</h1>
    <div>
        <h2>Список цветов</h2>
        <ul>
            <li>Красный</li>
            <li>Жёлтый</li>
            <li>Зелёный</li>
            <li>Синий</li>
        </ul>
    </div>
    <div>
        <h2>Список студентов</h2>
        <ul>
            <li>Иванов</li>
            <li>Петров</li>
            <li>Сидоров</li>
            <li>Николаев</li>
        </ul>
    </div>
    <div>
        <h2>Список студентов</h2>
        <ol>
            <li>Иванов
                <ul>
                    <li>Возраст - 23 года</li>
                    <li>Курс - 3</li>
                </ul>
            </li>
            <li>Петров
                <ul>
                    <li>Возраст - 19 года</li>
                    <li>Курс - 2</li>
                </ul>
            </li>
            <li>Сидоров
                <ul>
                    <li>Возраст - 18 года</li>
                    <li>Курс - 1</li>
                </ul>
            </li>
        </ol>
    </div>
</div>
<hr>
<div>
    <h1>Что нужно знать, чтобы делать сайты</h1>
    <ol>
        <li>HTML</li>
        <li>CSS</li>
        <li>PHP</li>
        <li>SQL</li>
        <li>JavaScript</li>
        <li>jQuery</li>
        <li>Flash</li>
        <li>SEO</li>
    </ol>
    <h2>PHP и JavaScript</h2>
    <p>Языки программиронаия <b>PHP</b> и <b>JavaScript</b> позволяют сделать сайт динамичиным, то есть реагирующим на
        действия пользователя.
        Например, можно сделать красивую выпадающую менюшку или слайдер
    </p>
    <h2>Виды скриптов</h2>
    <p>Для этого пишутся скрипты (англ. <em>script</em> - сценарий) - программы, позволяющиее реагировать на действия
        пользователя.
        Скрипты бывают двух видов:</p>
    <ul>
        <li>те, которые выполняются на сервере, а результат их выполнения приходит в браузер к пользователю уже в
            готовом виде.
            Это скрипты, написанные на языке <b>PHP</b>. На нем пишуться <b>CMS-ки</b> - системы управления контентом.
        </li>
        <li>те, которые выполняются прямо в браузере пользователя. Это скрипты написанные на языке <b>JavaScript</b>.
            Они чаще всего используются для, того чтобы сделать страницу более удобной и красивой
        </li>
    </ul>
</div>
<hr>
<div>
    <ol>
        <li>Зима
            <ul>
                <li>Декабрь</li>
                <li>Январь</li>
                <li>Февраль</li>
            </ul>
        </li>
        <li>Весна
            <ul>
                <li>Март</li>
                <li>Апрель</li>
                <li>Май</li>
            </ul>
        </li>
        <li>Лето
            <ul>
                <li>Июнь</li>
                <li>Июль</li>
                <li>Август</li>
            </ul>
        </li>
        <li> Осень
            <ul>
                <li>Сентябрь</li>
                <li>Октябрь</li>
                <li>Декабрь</li>
            </ul>
        </li>
    </ol>
</div>
<hr>
<div>
    <ol>
        <li> Зима
            <ul>
                <li>Декабрь</li>
                <li>Январь</li>
                <li>Февраль</li>
            </ul>
        </li>

        <li>Весна
            <ul>
                <li>Март</li>
                <li>Апрель</li>
                <li>Май</li>
            </ul>
        </li>
        <li> Лето
            <ol>
                <li>Июнь</li>
                <li>Июль
                <li>Август</li>
            </ol>
        </li>
        <li> Осень
            <ul>
                <li>Сентябрь</li>
                <li>Октябрь</li>
                <li>Декабрь</li>
            </ul>
        </li>
    </ol>
</div>
<hr>
<div>
    <dl>
        <dt style="color:green">&#9788; Солнечно </dt>
        <dd>Кругом тепло и солнечно, тучки почти отсутствуют.</dd>
        <dt style="color:green">&#9729; Облачно </dt>
        <dd>Небо покрыто тучками, солнышко почти не видно.</dd>
        <dt style="color:green">&#9730; Дождь</dt>
        <dd>Серые тучи покрывают все небо и обильно поливают нас дождем</dd>
    </dl>
</div>
<hr>
</body>
</html>
